:root {
    color:#212529;
    --white: #fff;
    --pink: #e83e8c;
    --info: #17a2b8;
}

/*Color de fondo navbar*/
nav {
    background-color: var(--pink);
}

/*Color del borde de la hamburguesa*/
.custom-toggler.navbar-toggler {
    border-color: #FFFFFF80;
}

/*Color de barras de la hamburguesa*/
button i {
    color: #FFFFFF80;
}

header h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}

/*Header en Iphone 5 320px*/
@media screen and (min-width: 320px) {
    h1.display-1 {
        font-size: 300%;
        font-weight: 700;
        padding-top: 1em;
    }
}

/*Navbar inline en Iphone 5 320px*/
@media screen and (min-width: 320px) {
    .navbar>.container {
        flex-wrap: nowrap;
    }
}

/*Tamaño del lógo de suricata en Iphone 5 320px*/
@media (min-width: 320px) {
    nav img {
        width: 80%
    }
}

/*Tamaño del lógo de suricata en otras resoluciones*/
@media (min-width: 576px) {
    nav img {
        width: 55%
    }
}

/*Tamaño del lógo de suricata en otras resoluciones*/
@media (min-width: 768px) {
    nav img {
        width: 35%
    }
}

/*Oculta la sección de íconos en Iphone 5 320px*/
@media (min-width: 320px) {
    .icon-section {
        display: none;
    }
}

/*Muestra la sección de íconos en otras resoluciones*/
@media (min-width: 768px) {
    .icon-section {
        display: inline;
    }
}

.footer-b {
    background-color: var(--pink);
}